body{
    background: linear-gradient(to bottom, #87CEEB, #B0E0E6, #ADD8E6, #87CEEB);
background-repeat: no-repeat;
background-size: cover;
height:100vh;
width: 100vh;
} 


/* Style the dropdown toggle (button or navbar item) */
.dropdown-toggle {
    cursor: pointer;
    /* Add your button/navbar styles here */
  }
  
  /* Style the dropdown menu and hide it initially */
  .dropdown-menu {
    display: none;
    /* Add your dropdown menu styles here */
  }